/* LAYOUT START */
.wrap {
	//基礎layout樣式
	.btn-c {
		@include btn-c;
	}
	.btn-c-none{
		@include btn-c-none;
	}
	.nav-item.active, .btn-c-none-child{
		@include btn-c-none-child;
	}

	background: $theme-color-dark;
	color: $theme-color-light;

	.main_nav{
		width: 30vh;
	}
	.deco{
		background-image: url(/img/deco-2.png);
		background-position: right;
		background-size: 45%;
		background-repeat: repeat-y;
		width: 12vh;
		height: 100vh;
		overflow: hidden;
		.nav_deco img{
			height: 45%;
		}
	}
	.card{
		background: none;
		border: none;
	}

	.page{
		height: 10vh;
		border-bottom: 2px solid $theme-color-middle;
	}

	
}

// LAYOUT END //
